<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="CONSOLE-INFO" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd, MMMMM yyyy HH:mm:ss} %-5p %m%n" />
		</layout>
	</appender>

	<appender name="LOG-FILE-APPENDER" class="org.apache.log4j.FileAppender">
		<param name="file"
			value="d:/servers/apache-tomcat-7.0.6/webapps/dpl/logs/weblabaratory.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd, MMMMM yyyy HH:mm:ss} %-5p %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE-INFO" />
		<appender-ref ref="LOG-FILE-APPENDER" />
	</root>

</log4j:configuration>